html, body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  background-image: url('/images/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

/* Navbar */

nav {
background-color: rgb(253, 253, 253);
  height: 12em;
  box-shadow: 1px 5px 15px gray;
}

/* .logo-img {
  margin-left: 1em;
} */

.nav-btn {
  color: black;
  font-size: x-large;
  margin: 3em;
  text-decoration: none;
}

.link {
  color: #000000;
  text-decoration: none;
}

.nav-btn:hover {
  color: #000000;
  font-size: x-large;
  border-bottom: 1px solid rgb(24, 24, 24);
  
}

.nav-btn-side {
  color: black;
}

.navbar-toggler {
  border: none;
}

.side-nav-icon {
  color: #000000;
  font-size: large;
}

.offcanvas-body {
  font-size: large;
}

/* Homepage */

.page {
  height: 30em;
}

.photo {
  margin: 15px;
  border-radius: 6px;
  box-shadow: 8px 8px 15px rgb(102, 102, 102);
  transform: rotate(-8deg);
}

.blurb {
  margin: 15px;
  max-width: 400px;
}

.blurb p {
  text-align: center;
}

p {
  font-size: x-large;
}

.btn {
  background-color: #62428ae2;
  color: white;
  font-size: x-large;
  width: 7em;
  height: 3em;
  margin: 20px;
  
}

.btn:hover {
  box-shadow: 8px 8px 10px rgb(102, 102, 102);
  background-color: #62428a;
  color: white;
}

/*  */

/* Web Dev */

.web-card {
  background-color: white;
  border: none;
  box-shadow: 8px 8px 15px rgb(102, 102, 102);
  height: 550px;
  width: 490px;
  margin: auto;
  margin-bottom: 3em;
  padding: 2em;
}

.web-img {
 width: 375px;
 height: 250px;
 margin-top: 1em;
 margin-left: auto;
 margin-right: auto;
}

.web-title {
  border-bottom: 1px solid black;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}


.project-link {
  color: white;
  text-decoration: none;
  background-color: #62428a;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.project-link:hover {
  box-shadow: 5px 5px 10px rgb(102, 102, 102);
}

.phone {
  height: 320px;
  width: 190px;
  margin: auto;
}

/*  */

/* 3d page */

h2 {
  border-bottom: 1px solid black;
  width: 300px;
  margin: auto;
  padding: 10px;
}

.threed-card.card {
  background: none;
  border: none;
  height: auto;
  margin: auto;
  padding: 15px;
}

.iso {
  width: 500px;
  height: 500px;
  margin: auto;
}

.art-img {
  width: 750px;
  height: 425px;
  margin: auto;
  margin-top: 1em;
}

.card-title {
  padding: 5px;
  margin-top: 2px;
  font-size: x-large;
}

.gif {
  height: 325px;
  width: 325px;
  margin: auto;
}

/*  */

/* About page */

.about-pic {
  height: 350px;
  width: auto;
  margin: 4em;
}

.about-p {
  margin: 2em
}

/*  */

/* Contact Page */

.input-group-text {
  background: none;
  border: none;
}

.contact-btn {
  background: none;
  border: none;
  color: black;
  font-size: larger;
}

/*  */

/* Carousel */



.carousel-container {
  width: 200px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgb(81, 81, 81);
  border-radius: .5em;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color:  #563a79;
}

/*  */

/* Footer */


.footer-icon {
  font-size: xx-large;
  padding-left: 2em;
  padding-right: 2em;
  color: #444444;
}

.footer-icon:hover {
  color: #563a79;
}



@media (max-width: 1100px) {

  img {
    width: 250px;
  }

  .navbar {
    height: 7em;
  }

  .photo {
    margin-top: 30px;
  }

  .web-card {
    width: 400px;
    height: 500px;
  }

  .web-img {
    width: 250px;
    height: 250px;
  }

  .web-title {
    font-size: medium;
  }

  .web-card p {
    font-size: medium;
  }

  .project-link {
    font-size: small;
    margin: 0;
  }

  .footer-icon {
    font-size: larger;
  }

  .footer-container {
    margin-top: 10em;
  }

}

@media (max-width: 500px) {


  .logo-img {
    width: 8em;
  }

  .photo {
    margin-top: 30px;
    transform: rotate(0deg);
  }

  .navbar {
    height: 5em;
  }

  p {
    font-size: larger;
  }

 .btn {
  font-size: large;
  width: 7em;
  height: 2em;
  margin: 15px;
 }

 .about-p {
    padding: 0;
 }
 
 .web-card {
  width: 300px;
  height: auto;
 }

 .web-img {
  width: 150px;
  height: 125px;
 }

 .footer-container {
  margin-top: 10em;
}

  .footer-icon {
    font-size: small;
  }
 

}