body {
  background-image: url('/images/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  margin: 0 auto;
  font-family: Quicksand;
}

nav {
  margin-top: 1.5em;
}

.about {
  margin-top: 1.5em;
}

i {
  color: rgb(81, 81, 81);
  font-size: 2em;
  margin: 1em;
}

i:hover {
  color: #512984;
}

ul {
  list-style: none;
}

.project-link {
  background-color: rgb(81, 81, 81);
  opacity: 90%;
  color: white;
  font-size: 2em;
  padding: .5em;
  border-radius: .5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-caption {
  margin-bottom: 10em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
  border-radius: .5em;

}

.contact-btn {
  border-radius: .5em;
}


